:root {
    --timelineback: #d9865f;
    --timelineconnect: #e05210;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.topbar{
    height: 70px;
    width:100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    overflow-x: scroll;
}

.iconwords{
    height: 100%;
    width: 15%;
    background-color: white;
    overflow: auto;
    float: left;
    overflow: hidden;
}

.icon{
    height: 100%;
    width: 80%;
    background-image: url("../Assets/logoicon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}

.words{
    height: 100%;
    width: 20%;
    background-image: url("../Assets/infoicon.jpg");
    background-repeat: no-repeat;
    background-position: bottom 50% left 80%;
    background-size: 50%;
    display: inline-block;
}

.words .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .words .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .words:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.people{
    float: left;
    height: 100%;
    width: 84%;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    background-color: white;
}

.face{
    background-color: rgba(247, 237, 194, 0.8);
    grid-row: 1;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 5px;
}

.bottom{
    height: 720px;
    width:100%;
    background-color: bisque;
    overflow-y: hidden;
}

.particons{
    height:100%;
    width: 15%;
    background-color: black;
    float: left;
}

.placeholder{
    height : 10%;
    width : 100%;
    background-color: white;
    float: left;
}

.teams{
    height: 90%;
    width: 100%;
    background-color: white;
    display: grid;
}

.teamindiv{
    width: 91.83px;
    grid-column: 1;
    background-color: white;
    border-style: solid;
    border-width: 5px;
}

.timeline{
    height:100%;
    width: 85%;
    background-color: brown;
    float: left;

}

.milestone{
    height: 10%;
    width: 100%;
    background-color: blue;
    display:grid;
    grid-template-columns: auto;
    grid-gap: 0px
}

.milestonequarter{
    height: 62px;
    grid-row: 1;
    background-color: white;
    border-style: solid;
    border-width: 5px;
}

.timelinegrid{
    float: left;
    height: 90%;
    width: 100%;
    display: grid;
    grid-gap: 0px;
    align-items: center;
    background-color: white;
    display: grid;
}

.timeline1x1{
    height: 166px;
    display: grid;
    align-content: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 6.5px 1fr 6.5px;
}
    .firstrow{
        grid-row: 1;
    }

    .secondrow{
        grid-row: 2;
    }

    .thirdrow{
        grid-row: 3;
    }

    .fourthrow{
        grid-row: 4;
    }


    .firstcol{
        grid-column: 1;
    }

    .secondcol{
        grid-column: 2;
    }

    .thirdcol{
        grid-column: 3;
    }

    .fourthcol{
        grid-column: 4;
    }


.timeline1x1body{
    display: block;
    grid-row: 2;
    height: 140px;
    background-color: black;
}

.timeline1x1connector{
    display: block;
    grid-row: 2;
    height: 140px;
}

.timelineconnectorchild{
    margin-top: 57.5px;
    margin-bottom: 57.5px;
    height: 25px;
    width: 100%;
    background-color: var(--timelineconnect);
}
